body{
    background-color: #2C2C2C;
    background-image: linear-gradient(to bottom right, #2C2C2C, #000000);
    border-radius: 20px;
}

img{
    width: 100%;
}

.header{
    padding: 50px;
    text-align: center;
    background: #111111;
    font-size: 25px;
    border-radius: 20px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin: 40px;
}

.container img{
    opacity: 1.0;
    transition: all 1s;
}

.container img:hover{
    opacity: 0.7;
}

.rounded-image{
    border-radius: 10px;
}

h1{
    color: #cfcfcf;
}

h1{
    text-align:center
}

h2{
    color: #cfcfcf;
}

h2{
    text-align:center
}

p{
    color: #cfcfcf;
}