body{
    background-color: #2C2C2C;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
h1{
    color: #cfcfcf;
}

h1{
    text-align:center
}

h2{
    color: #cfcfcf;
}

h2{
    text-align:center
}
