body{
    background-color: #2C2C2C;
}

img{
    width: 100%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin: 40px;
}

.rounded-image{
    border-radius: 10px;
}

h1{
    color: #cfcfcf;
}

h1{
    text-align:center
}

h2{
    color: #cfcfcf;
}

h2{
    text-align:center
}
